<section id="header">
    <div class="container+">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/"><img src="media/logo.png" alt=""></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#services">services</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/testi">Testimonials</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#footer">contact</a>
                          </li>
                          <li class="nav-item">
                            <form action="" class="d-flex ms-4">
                              <input type="search" name="" id="" class="form-control me-2">
                              <button type="submit">Search</button>
                            </form>
                          </li>
                          
                         
                        </ul>
                        <form class="d-flex ms-auto ">
                          <input class="form-control-sm me-2" type="text" placeholder="username" aria-label="Search">
                          <input class="form-control-sm me-2" type="password" placeholder="password" aria-label="Search">
                          <button class="btn  btn-outline-success" type="submit">login</button>
                        </form>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
       </section>