<div class="col-md-3">
    

    <a href="/admin/banner"><button class="btn btn-warning form-control mt-2 ms-4">Banner Management</button></a>
    <a href="/admin/service"><button class="btn btn-warning form-control mt-2 ms-4">Service Management</button></a>
    <a href="/admin/testi"><button class="btn btn-warning  form-control mt-2 ms-4">Testimonials Management</button></a>
    <a href="/admin/query"><button class="btn btn-warning  form-control mt-2 ms-4">Query Management</button></a>
    <a href="/admin/add"><button class="btn btn-warning  form-control mt-2 mb-2 ms-4">Address Management</button></a>
    <a href="/admin/dashboard"><button class="btn btn-warning  form-control  ms-4">Change Password</button></a>
</div>




